* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.navbar {
    background-color: black;
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
}

.navbar_div2 {
    display: flex;
    align-items: flex-end;
}

.navbar_div1 {
    display: inline;
}

.navbar_div1 span a {
    list-style: none;
    color: white;
    font-size: 35px;
}

.navbar_div2 span {
    margin-left: 30px;
    list-style: none;
}

.navbar_div2 span a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}